In [1]:
import pandas as pd
import selenium as se
from selenium import webdriver 
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
#define options and set browser capabilities
options=webdriver.ChromeOptions()
options.add_argument('- -some options')

In [3]:
#create webdriver instance with options 
driver=webdriver.Chrome(options=options)

In [4]:
driver.get("https://www.amazon.in/")

In [5]:
search=driver.find_element(By.ID,"twotabsearchtextbox")

In [6]:
search.send_keys(" Top 10 Dell laptops")

In [7]:
search.send_keys(Keys.ENTER)

In [10]:
names=driver.find_elements(By.XPATH,".//span[@class='a-size-medium a-color-base a-text-normal']")
laptop_names=[i.text for i in names]
print(len(laptop_names))
for al in laptop_names:
    print(al,'\n')

SyntaxError: invalid non-printable character U+00A0 (2718195425.py, line 5)

NameError: name 'laptop_prices' is not defined

In [8]:
prices=driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
laptop_prices=[i.text for i in prices]
print(len(laptop_prices))
print(laptop_prices)

30
['42,990', '74,990', '48,900', '33,990', '36,800', '17,309', '21,399', '19,499', '57,990', '35,990', '42,990', '', '', '20,990', '24,490', '16,990', '15,314', '16,400', '57,990', '46,990', '279', '279', '19,238', '59,990', '1,20,000', '35,500', '279', '279', '49,750', '87,790']

In [9]:
review=driver.find_elements(By.XPATH,".//span[@class='a-size-base s-underline-text']")
laptop_review=[i.text for i in review]
print(len(laptop_review))
print(laptop_review)

24
['653', '188', '1,550', '58', '162', '181', '205', '625', '', '', '28', '77', '39', '283', '192', '181', '145', '9', '8', '30', '4', '1,019', '189', '85']

In [22]:
df=pd.DataFrame(columns=['names','prices','reviews'])
print(df)

Empty DataFrame
Columns: [names, prices, reviews]
Index: []

In [23]:
df.to_csv('selenium.csv')